.headerBtn{
  position: absolute;
  top: 32px;
  right: 80px;
  padding: 8px 16px;
  border: 1px solid #F8F8F8;
  border-radius: 8px;
  font-size: 16px;
  line-height: 136.19%;
  color: #f8f8f8;
}

@media (max-width: 768px){
  .headerBtn{
    right: 50px;
  }
}

@media (max-width: 576px){
  .headerBtn{
    top: 23px;
    right: 27px;
    padding: 0;
    border: none;
  }
}
